body{
	margin:0px;
	padding:0px;
	font-family:"Helvetica Neue", Helvetica, Arial;
	background-color: #31824c;
}

h1{
	color: white;
	font-family: georgia, serif;
	text-align: center;
	text-shadow: 3px 4px black;
	font-size: 60px;
	background-color: #0c5622;
	border-bottom-style: solid;
	border-bottom-color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3{
	color:white;
}

nomargin{
	margin: 0px;
}

form{
	text-align: center;
}

iframe{
	margin-right: auto;
	margin-left: auto;
}

table{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

th{
	margin-top: 0px;
	color:white;
	font-family: georgia;
}

banner{
	max-width: 600px;
}
